Implement Digest Algorithm Agility

Support for digest algorithm agility is optional but it's still useful if multiple digest algorithms are present. 

See [RFC7671 section 9](https://tools.ietf.org/html/rfc7671#section-9)